
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 980px;
    margin: auto;
}
.clearfix {
    clear: both;
}
.container {
    max-width: 980px;
}

.aboutme {
    background-color: #f7f6f6;
}
.project {
    background-color: #ebebeb; 
}
.map {
    width: 500px;
    border: 1px;
    margin: 15px 0 0 15px;
}
.info {
    background-color: #ebebeb;
    min-height: 400px;
}
.adress {
    display: grid;
    margin-left: 15px;
}
.adress a {
    padding: 10px 0;
}