@import url('https://fonts.googleapis.com/css?family=Karla');

:root {
    font-family: 'Karla', sans-serif;
}
* {
    margin: 0;
    box-sizing: border-box;
}
body {
    max-width: 980px;
    margin: auto;
}
.clearfix {
    clear: both;
}
.container {
    max-width: 980px;
}
header {
    background-color: #ebebeb;
    display: flex;
}
header img {
    width: 275px;
    height: 55px;
    
    margin: 10px;
}

header nav {
    display: flex;
    margin: 0 auto;
}
header nav ul {
     display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    
}
header nav ul li {
list-style-type: none;
padding: 10px;
}
header nav ul li a {
    text-decoration: none;
    color: #1464f6; 
    font-size: 18px;
}
header nav ul li a:hover {
    text-decoration: underline;
}
hr {
    border: none; 
    background-color: #1464f6;
    color: #1464f6;
    height: 2px; 
}
.carousel img {
    max-width: 455px;
    float: left;
}
.main {
    display: grid;
    background-color: #f7f6f6;
    max-width: 50%;
}
h1{
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
} 
.firstline {
    font-size: 22px;
    text-align: center;
    padding: 10px 0;
}
p {
    font-size: 20px;
    text-align: justify;
    text-indent: 25px;
    padding: 0 10px;
}
.contactme {
    width: 35%;
    margin: 20px auto;
    display: block;
    
}
.aboutme {
    background-color: #ebebeb;
   
}
.html, .css, .js {
    margin: 10px 0;
}
.html img, .css img, .js img {
    width: 45px;
    margin: 0 15px;
}
h2, h3 {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}
.html progress, .css progress, .js progress {
    background-color: #f3f3f3;
  border: 2px grey solid;
  height: 25px;
  border-radius: 6px;
  width: 35%;
}
.diploma img {
    max-width: 325px;
    margin: 20px;
}
.myprojects {
    background-color: #f7f6f6;
}
.product-card {
    border: 1px solid blue;
    width: 30%;
    margin: 0 10px;
}

.product-card img {
    width: 100%;
}

.product-card .buttons {
    display: flex;
    justify-content: space-around;
}

.product-card .buttons a {
    margin: 5px;
    width: 40%;
}

.product-list {
    margin: 0 5px;
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    column-gap: 5px;
   }
.gallery {
    display: flex;
}
.form {
    background-color: #ebebeb;
}
form {
    display: grid;
    font-size: 18px;
    margin-left: 15px;
}
label {
    width: 150px;
    margin: 10px 0;
}
footer {
    background-color: #f7f6f6;
}
footer img {
    width: 35px;
    margin: 15px;
}


/* Slideshow container */
.slideshow-container {
   position: relative;
  margin: auto;
  max-width: 50%;
}




/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}