@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Kurale&subset=cyrillic');

:root {
    font-family: 'Kurale', serif;
}
* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kurale', serif;
}
body {
    max-width: 980px;
    margin: auto;
    font-family: 'Kurale', serif;
}
.clearfix {
    clear: both;
}
.container {
    max-width: 980px;
}
header {
    background-color: #ebebeb;
    display: flex;
}
header img {
    width: 275px;
    height: 55px;
    
    margin: 10px;
}

header nav {
    display: flex;
    margin: 0 auto;
}
header nav ul {
     display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    margin: 0;
}
header nav ul li {
list-style-type: none;
padding: 10px;
font-family: 'Lobster', cursive;

}
header nav ul li a {
    text-decoration: none;
    color: #1464f6; 
    font-size: 18px;
}
header nav ul li a:hover {
    text-decoration: underline;
}
hr {
    border: none; 
    background-color: #1464f6;
    color: #1464f6;
    height: 2px; 
    margin: 0 auto;
}
.unit {
    display: flex;
}
.main {
    display: grid;
    background-color: #f7f6f6;
    max-width: 55%;
}
h1{
    text-align: center;
    font-size: 30px;
    padding: 20px 0;
    font-family: 'Lobster', cursive;
    color: #1464f6;
} 
.firstline {
    font-size: 22px;
    text-align: center;
    padding: 10px 0;
}
p {
    font-size: 20px;
    text-align: justify;
    text-indent: 25px;
    padding: 0 10px;
    margin: 0;
}
.progress-bar {
     width: 75%;
    height: 25px;
    display: flex;
    border-radius: 10px;
}
.contactme {
    width: 35%;
    margin: 20px auto;
    display: block;
        cursor: pointer;

}
.contactme a {
        text-decoration: none;
color: black;
}
.aboutme {
    background-color: #ebebeb;
   
}
.html, .css, .js {
    margin: 10px 0;
}
.html img, .css img, .js img {
    width: 45px;
    margin: 0 15px;
}
h2, h3 {
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
    font-family: 'Lobster', cursive;
    margin-bottom: 0;
    color: #1464f6;
}
.progress-html, .progress-css, .progress-js {
display: flex;
align-items: center;
    
}

.progress-html img, .progress-css img, .progress-js img {
width: 75px;
margin: 15px;
height: 75px;
display: flex;
}
.diploma {
    width: 40%;
}
.btn {
    display: flex;
    margin: 0 auto;
}
.diploma img {
    max-width: 325px;
    margin: 20px;
}
.myprojects, .my_projects {
    background-color: #f7f6f6;
}
.my_projects img {
    width: 350px;
    height: 450px;
    margin: 25px;
    -webkit-transition: width 0.5s;
    -moz-transition: width 0.5s;
    -o-transition: width 0.5s;
     transition: width 0.5s;

}

.product-card {
    border: 1px solid blue;
    width: 30%;
    margin: 0 10px;
}

.product-card img {
    width: 100%;
}

.product-card .buttons {
    display: flex;
    justify-content: space-around;
}

.product-card .buttons a {
    margin: 5px;
    width: 40%;
}

.product-list {
    margin: 0 5px;
    display: grid;
    column-gap: 5px;
   }
.gallery {
    display: flex;
    background-color: #f7f6f6;
}
.btn-form {
    width: 140px;
    margin: 10px auto;
    cursor: pointer;
}
.form {
    background-color: #ebebeb;
}
form {
    display: grid;
    font-size: 18px;
    margin-left: 15px;
    width: 400px;
    margin: auto;
    
}
label {
    width: 400px;
    margin: 10px 0;
}
input {
    width: 400px;
}
footer {
    background-color: #f7f6f6;
}
footer img {
    width: 35px;
    margin: 15px;
}


/* Slideshow container */
.slideshow-container {
   position: relative;
 float: left;
  max-width: 50%;
      background-color: #f7f6f6;
      padding-top: 25px;
}




/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
     background-color: #f7f6f6;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
 }
.dots {
     text-align: center;
}
.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
/*@media only screen and (max-width: 300px) {*/
/*  .text {font-size: 11px}*/
/*}*/
@media only screen and (min-device-width: 10px) and (max-device-width : 480px) {
header img{
    display: none;
}
body {
    max-width: 100%;
}
.container {
    width: 100%;
}
.slideshow-container {
    display: none;
}
.main {
    max-width: 100%;
}
.progress-html, .progress-css, .progress-js {
    max-width: 75%;
}
.diploma img {
    width: 300px;
}
.gallery {
    flex-wrap: wrap;
}
.product-card .buttons {
   display: block; 
}
}
@media only screen and (min-device-width: 481px) and (max-device-width : 768px) {
body {
    max-width: 100%;
}
.container {
    width: 100%;
}
header img {
    width: 185px;
}
.slideshow-container {
    display: none;
}
.main {
    max-width: 100%;
}
}
@media only screen and (min-device-width: 769px) and (max-device-width : 900px) {
body {
    max-width: 100%;
}
.container {
    width: 100%;
}
header img {
    width: 185px;
}
.slideshow-container {
    max-width: 55%;
}
.main {
    max-width: 100%;
}
}